:host {
  display: block;
}

.mat-button-toggle-checked {
  background-color: green;
  color: white;
}

:host-context(.so-display-mode) .mat-button-toggle.correct {
  background-color: green;
  color: white;
}

:host-context(.so-display-mode) .mat-button-toggle-checked:not(.correct) {
  background-color: red;
  color: white;
}
